.welcome{
    min-height: 85vh;
    display: flex;
    padding: 50px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.welcome h1 {
    color: var(--green);
    font-family: var(--fontfamily);
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}

.welcome h2 {
    color: var(--dark); 
    font-size: 64px; 
    font-weight: 700; 
}

.welcome p {
    color: var(--dark); 
    max-width: 70%;
    margin: auto;
    font-weight: 500;
    margin-bottom: 30px;
}

@media screen and (max-width:767px) {
    .welcome h2 { 
        font-size: 40px; 
        line-height: 42px;
    }
    .welcome h1 { 
        font-size: 54px; 
    }
    .welcome p { 
        max-width: 100%; 
    }


}