header {
    padding: 20px 0;
    background-color: var(--greenSoft);
    border-bottom: 1px solid var(--greenBorder);
}
.logo{
    display: block;
    max-width: 200px;
}
.menus{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.menus ul{
    display: flex; 
}
.menus ul li a{
    display: block;
    margin-left: 30px;
    font-weight: 500;
}
.menus > div{
    margin-left: 30px;
} 





 

