@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
/* font-family: 'Inter', sans-serif; */

:root {
  --fontFamily: 'Inter', sans-serif;
  --transition: all .3s;
  --dark: #333;
  --green: #0DCA20;
  --black: #000;
  --white: #fff;
  --yellow: #CFE00F;
  --red: #F60000;
  --redSoft: #ffdada;
  --gray: #EBE8E8;

  --greenSoft: rgba(182, 255, 189, 0.00);
  --greenSoft2: #E8F9ED;
  --greenBorder: #22A900;

  --darkBoarder:#ECECEC;



  line-height: 1.5;
  font-weight: 400;
  font-family: 'Inter', sans-serif;;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-size: 16px;
  margin: 0;
  font-family: var(--fontFamily);
  color: var(--dark);
}
a { 
  color: inherit;
  text-decoration: none;
  transition: var(--transition);
} 
h1,h2,h3,h4,h5,h6{
  font-family: var(--fontFamily);
  font-weight: 700;

}
 
button{
  border: none;
  outline: none;
  padding: 0;
  background-color: none;
}
.them_btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--green);
  color: var(--white);
  cursor: pointer;
  transition: border-color 0.25s;
}
.them_btn.red{
  background-color: var(--red);
}
.them_btn.yellow{
  background-color: var(--yellow);
}
.them_btn.dark{
  background-color: var(--black);
  color: var(--white);
}
.them_btn.white{
  background-color: var(--white);
  color: var(--dark);
}
ul{
  padding: 0;
  margin: 0;
}
ul li{
  list-style: none;
}
img{
  max-width: 100%;
}
main {
  min-height: 87vh;
}

input,select,textarea {
  display: block;
  width: 100%;
  border-radius: 5px;
  background: var(--white);
  border: none;
  margin-bottom: 10px;
  padding: 12px;
  outline: none;
  border: 2px solid transparent;
  transition: var(--transition);
}

textarea {
  min-height: 150px;
}

input:focus, select:focus, textarea:focus {
  border-color: var(--dark);
}
label.wasSelected span{
  background-color: var(--red);
  color: var(--white);
}
label.answer span{
  background-color: var(--green) !important;
  color: var(--white);

}
header ul li a.active{
  color: var(--green);
}